.navbar_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar_form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.navbar_form-input {
  border-radius: 5px;
  border-color: transparent;
  font-size: 1.4em;
  background: #e7e7e7;
  width: 100%;
  height: 75px;
  position: relative;
}
.navbar_form-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 30px;
  width: 60px;
  height: 75px;
  position: absolute;
  right: 0px;
}

.filter {
  display: flex;
  margin-left: -40px;
  gap: 10px;
}
.filter-blue {
  box-shadow: #3382f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  gap: 10px;
  cursor: pointer;
  background: #3382f7;
  border-radius: 6px;
  color: white;
  padding: 15px;
}
.filter-green {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  gap: 10px;
  cursor: pointer;
  background: #69d9a4;
  border-radius: 6px;
  color: white;
  padding: 15px;
}
.filter-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  gap: 10px;
  cursor: pointer;
  background: #ed6454;
  border-radius: 6px;
  color: white;
  padding: 15px;
}

.fa-times-circle {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.7em;
}

.btn_container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  position: relative;
}
.btn_search {
  position: relative;
}
.btn_search-blue {
  background-color: #3382f7;
}
.btn_search-green {
  background-color: #69d9a4;
}
.btn_search-orange {
  background-color: #ed6454;
}
.btn_search input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  color: white;
  height: 78px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  position: relative;
  top: -80px;
  width: 700px;
}
.btn_filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3em;
  color: white;
  width: 190px;
  height: 78px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  position: relative;
}
.btn_filter-blue {
  background: #3382f7;
  width: 190px;
}
.btn_filter-green {
  background: #69d9a4;
  width: 190px;
}
.btn_filter-orange {
  background: #ed6454;
}

.fa-chevron-down {
  font-size: 1.3em;
  color: white;
}

.fa-chevron-up {
  position: absolute;
  right: 30px;
  top: -50px;
  font-size: 1.6em;
  color: white;
}

.dropdown-menu-blue {
  z-index: 1;
  position: absolute;
  width: 664px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #3382f7;
  color: white;
  font-size: 1.4em;
  margin-top: -84px;
  line-height: 1.5em;
}
.dropdown-menu-blue li {
  background: #3382f7;
  cursor: pointer;
  margin-left: -25px;
}
.dropdown-menu-green {
  z-index: 1;
  position: absolute;
  width: 664px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #69d9a4;
  color: white;
  font-size: 1.2em;
  margin-top: -84px;
  line-height: 1.5em;
}
.dropdown-menu-green li {
  background: #69d9a4;
  cursor: pointer;
  margin-left: -25px;
}
.dropdown-menu-orange {
  z-index: 1;
  position: absolute;
  width: 664px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #ed6454;
  color: white;
  font-size: 1.2em;
  margin-top: -84px;
  line-height: 1.5em;
}
.dropdown-menu-orange li {
  cursor: pointer;
  margin-left: -25px;
}

.item {
  display: block;
}

.btn_container-1 {
  display: none;
}

.btn_container-2 {
  display: none;
}

.btn_container-3 {
  display: none;
}

.header-logo {
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
}

ul, li {
  list-style-type: none;
}

.display-none {
  display: none;
}

.recettes {
  margin-top: 10px;
}
.recettes_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.recettes_pages {
  display: block;
  width: 400px;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 100px;
}
.recettes_pages-images {
  background: #c7bebe;
  width: 100%;
  height: 180px;
  border-radius: 7px 7px 0px 0px;
}
.recettes_pages-description {
  background: #e7e7e7;
  padding: 20px;
  border-radius: 0px 0px 7px 7px;
  height: 150px;
}
.recettes_pages-description-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.recettes_pages-description-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.recettes_pages-description-title {
  font-size: 1.2em;
  font-weight: 300;
}
.recettes_pages-description-time {
  font-size: 1.2em;
  font-weight: 500;
}
.recettes_pages-description-ingredients {
  width: 180px;
  font-size: 0.8em;
  padding: 0;
}
.recettes_pages-description-ingredients-bold {
  font-weight: bold;
}
.recettes_pages-description-method {
  margin-top: 8px;
  font-size: 0.7em;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

body {
  padding: 40px 90px;
  font-family: "inter", sans-serif;
}

/*# sourceMappingURL=style.css.map */
